{% extends './common/base.html' %}
{% block style %}
  <link rel="stylesheet" href="/static/css/chapter.css">
{% endblock %}
{% block header %}
<header class="chapter-header">
  <div class="header-left">
    <img class="logo-img" src="/db/img?name=logo.jpg" alt="logo">
    <span class="title">贝纳洛斯看不懂漫画</span>
  </div>
  <nav class="header-center">
    <a class="link-homepage" href="/">首页&gt;</a>
    <a class="link-comicName" href="/info?id={{comicId}}">{{comicName}}&gt;</a>
    <span class="chapter-name">{{chapterName}}</span>
  </nav>
  <div class="header-right">设置</div>
</header>
{% endblock %}
{% block section %}
<section class="chapters">
  <div class="chapter-img">
    {% for item in chapterList %}
    <img class="comic-img" src="/db/comicPage?table={{item.table}}&name={{item.comicPageName}}" alt="{{item.comicPageName}}">
    {% else %}
    漫画失踪了
    {% endfor %}
  </div>
</section>
{% endblock %}
{% block footer %}
  <footer class="chapter-footer">
    <a class="pre" href="">上一章</a>
    <a class="next" href="">下一章</a>
  </footer>
{% endblock %}